<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ink.z31.liverprotector">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".util.App"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:theme">

        <service
            android:name=".service.MainService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".activity.HtmlActivity" />
        <activity android:name=".activity.FragmentActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>